#homePage {
  display: inline-flex;
  & #productList {
    display: inline-flex;
    justify-content: space-evenly;
    width: calc(100vw - (2 * $frame_width));
    & div:first-child {
      margin-left: 0;
    }
  }
}
