#homePage {
  display: inline-flex;
  max-width: calc(100vw - ($frame-width * 2));
  & #productList {
    display: inline-flex;
    & div {
      margin: 0 30px;
    }
    & div:first-child {
      margin-left: 0;
    }
  }
}
