#homePage {
  display: inline-flex;
  & #productList {
    display: inline-flex;
    width: calc(100vw - (2 * $frame_width));
    & div:first-child {
      margin-left: 0.3rem;
    }
    & div:last-child {
      margin-left: 8rem;
    }
  }
}
