.ais-Pagination {
  & ul {
    padding: 30px 0 40px 0;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: auto;
    & li {
      margin: 0 8px;
      font-size: 18px;
      height: 40px;
      & a {
        text-decoration: none;
        color: white;
        background: $main_color;
        padding: 5px;
        border-radius: 6px;

        &:hover {
          background: lighten($main_color, 10%);
          transition: 100ms;
        }
      }
      & .ais-Pagination-link--selected {
        background: $main_color;
      }
    }
    & .ais-Pagination-item--disabled {
      display: none;
    }
  }
}
