#cartPage {
  margin: 0 28rem;
  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $main-color;
    font-weight: 700;
  }
  & #cartHeader {
    display: inline-flex;
    width: 100%;
    position: relative;
    margin-top: 2rem;
    & h6:last-child {
      position: absolute;
      right: 0;
    }
  }
  #firstHr {
    margin-top: 0;
  }
  & hr {
    opacity: 0.3;
    height: 0.08rem;
  }
  & #productCartContainer {
    & hr:last-child {
      height: 0.16rem;
      opacity: 0.5;
    }
  }
  & .totalsContainer {
    width: 12.7rem;
    height: 100%;
    position: relative;
    left: 100%;
    transform: translateX(-100%);
    margin: 3rem 0;
    & p,
    & a {
      padding: 0.5rem 0;
    }
    & #checkoutBtn {
      & button {
        padding: 0.5rem 4rem;
        background: $main-color;
        color: white;
        text-decoration: none;
        border: none;
      }
      &:hover {
        background: ligthen($main-color, 10%);
      }
    }
  }
}
