$card_width: 200px;

.ais-Hits {
  & ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, $card_width);
    gap: 40px;
    position: relative;
    & li {
      text-align: center;
      width: $card_width;
      & img {
        width: $card_width;
      }
      & button {
        background: $main-color;
        border: none;
        width: calc($card_width - 40px);
        border-radius: 6px;
        color: white;
      }
    }
  }
}
