$link-font-size: 20px;

nav {
  margin: 1rem $frame-width;
  display: inline-flex;
  margin-bottom: 80px;
  & #logo {
    height: 65px;
    padding: 15px;
    cursor: pointer;
  }
  & #searchContainer {
    margin: 0 20px;
    & input {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100vw - ($frame-width * 2) - 680px);
      border-radius: 20px;
      height: 40px;
      border-color: #adadad;
      padding: 10px 20px;
      border-width: 3px;
      &:focus {
        border-color: lighten($main-color, 10%);
      }
    }
  }
  & #linksContainer {
    margin: 1rem 0;
    & a {
      padding: 0.25rem;
      text-decoration: none;
      color: $secondary-color;
      font-size: $link-font-size;
      &:hover {
        color: $main-color;
      }
      &:last-child {
        color: $main-color;
        font-weight: 700;
        &:hover {
          color: lighten($main-color, 10%);
        }
      }
    }
  }
}
