$link-font-size: 20px;

nav {
  margin: 1rem $frame-width;
  display: inline-flex;
  margin-bottom: 80px;
  justify-content: space-between;
  width: calc(100vw - ($frame-width * 2));
  & #logo {
    width: 20rem;
    padding: 15px;
    cursor: pointer;
  }
  & #searchContainer {
    margin: 0 20px;
    & input {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100vw - ($frame-width * 2) - 50rem);
      border-radius: 20px;
      height: 1.25rem;
      border-color: #adadad;
      padding: 10px 20px;
      border-width: 3px;
      &:focus {
        border-color: lighten($main-color, 10%);
      }
    }
  }
  & #linksContainer {
    margin: 1rem 0;
    height: 2rem;
    & a {
      padding: 0.25rem;
      text-decoration: none;
      color: $secondary-color;
      font-size: $link-font-size;
      margin: 0 0.3rem;
      &:hover {
        color: $main-color;
      }
      &:last-child {
        color: $main-color;
        font-weight: 700;
        &:hover {
          color: lighten($main-color, 10%);
        }
      }
    }
    & #cart {
      position: relative;
      top: -0.3rem;
      cursor: pointer;
      & img {
        filter: invert(40%) sepia(8%) saturate(1612%) hue-rotate(323deg) brightness(103%) contrast(83%);
        height: 2.5rem;
        width: 2.5rem;
        &:hover {
          filter: invert(52%) sepia(24%) saturate(406%) hue-rotate(323deg) brightness(99%) contrast(88%);
        }
      }
      & span {
        position: absolute;
        bottom: -0.5rem;
        right: 0.2rem;
        background: #e22;
        border-radius: 100%;
        width: 1rem;
        height: 1rem;
        text-align: center;
        font-size: 0.9rem;
        color: white;
        & p {
          position: relative;
          top: 50%;
          transform: translateY(-70%);
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }
}
