@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Raleway:wght@400;700&display=swap");

body * {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Lora", sans-serif;
}

@import "./components/Product.scss";
