@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Raleway:wght@400;700&display=swap");

$main-color: #8f675e;
$secondary-color: #adadad;
$frame-width: 100px;

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Lora", sans-serif;
  overflow-x: hidden;
}

@import "./pages/Home.scss";

@import "./components/custom.scss";
@import "./components/Navbar.scss";
@import "./components/Hits.scss";
@import "./components/Refinement.scss";
@import "./components/Pagination.scss";
@import "./components/CartItem.scss";
