@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Raleway:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", "Lora", sans-serif;
  overflow-x: hidden;
}

#homePage {
  display: inline-flex;
  max-width: calc(100vw - 200px);
}
#homePage #productList {
  display: inline-flex;
}
#homePage #productList div {
  margin: 0 30px;
}
#homePage #productList div:first-child {
  margin-left: 0;
}

.frame {
  margin-left: 100px;
  margin-right: 100px;
}

.btn {
  background: #8f675e;
  border: none;
  border-radius: 6px;
  color: white;
}
.btn:hover {
  color: white;
  background: #a78179;
}

nav {
  margin: 1rem 100px;
  display: inline-flex;
  margin-bottom: 80px;
}
nav #logo {
  height: 65px;
  padding: 15px;
  cursor: pointer;
}
nav #searchContainer {
  margin: 0 20px;
}
nav #searchContainer input {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: calc(100vw - 200px - 720px);
  border-radius: 20px;
  height: 40px;
  border-color: #adadad;
  padding: 10px 20px;
  border-width: 3px;
}
nav #searchContainer input:focus {
  border-color: #a78179;
}
nav #linksContainer {
  margin: 1rem 0;
}
nav #linksContainer a {
  padding: 0.25rem;
  text-decoration: none;
  color: #adadad;
  font-size: 20px;
  margin: 0 0.3rem;
}
nav #linksContainer a:hover {
  color: #8f675e;
}
nav #linksContainer a:last-child {
  color: #8f675e;
  font-weight: 700;
}
nav #linksContainer a:last-child:hover {
  color: #a78179;
}

.ais-Hits ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 225px);
  gap: 40px;
}
.ais-Hits ul li {
  text-align: center;
  width: 225px;
  height: 405px;
  position: relative;
}
.ais-Hits ul li a {
  text-decoration: none;
  color: #222;
}
.ais-Hits ul li a p {
  margin-top: 30px;
}
.ais-Hits ul li a p:last-child {
  color: #8f675e;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
}
.ais-Hits ul li a img {
  width: 225px;
  max-width: 225px;
  min-width: 225px;
  height: 225px;
}
.ais-Hits ul li button {
  width: 185px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.ais-RefinementList {
  position: relative;
}
.ais-RefinementList ul {
  list-style: none;
  width: 350px;
}
.ais-RefinementList ul .ais-RefinementList-item {
  margin: 10px 0;
  left: -22px;
  position: relative;
}
.ais-RefinementList ul .ais-RefinementList-item label {
  cursor: pointer;
}
.ais-RefinementList ul .ais-RefinementList-item label input {
  cursor: pointer;
}
.ais-RefinementList ul .ais-RefinementList-item label span {
  padding: 0 10px;
}
.ais-RefinementList ul .ais-RefinementList-item label .ais-RefinementList-count {
  position: absolute;
  left: calc(100% - 10px);
  transform: translateX(-100%);
}
.ais-RefinementList ul .ais-RefinementList-item--selected span {
  color: #8f675e;
}

.ais-Pagination ul {
  padding: 30px 0 40px 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: auto;
}
.ais-Pagination ul li {
  margin: 0 8px;
  font-size: 18px;
}
.ais-Pagination ul li a {
  text-decoration: none;
  color: white;
  background: #8f675e;
  padding: 5px;
  border-radius: 6px;
}
.ais-Pagination ul li a:hover {
  background: #a78179;
  transition: 100ms;
}
.ais-Pagination ul li .ais-Pagination-link--selected {
  background: #8f675e;
}
.ais-Pagination ul .ais-Pagination-item--disabled {
  display: none;
}

/*# sourceMappingURL=main.css.map */
